body {
    background: #2f343e;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #919191;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
    letter-spacing: 6px;
    text-shadow: 0px 0px 20px #000000;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 50px;
}

.item {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    display: block;
    text-shadow: 0px 0px 20px #000000;
}

.avatar {
    vertical-align: middle;
    margin-right: 10px;
    -shadow: 0px 0px 20px #000000;
    height: 40px;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 30px;
        line-height: 1em;
    }
    .item {
        font-size: 60px;
    }
}